
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# IDE-specific files
.vscode
.vscode/*
.idea
.idea/*

#Env files
.env.dev
.env.dev.db
.env.prod
.env.prod.db


.env.staging
.env.staging.db
.env.staging.proxy-companion
.env.prod.proxy-companion