option_settings:
    - option_name: DEBUG
    value: 0
    - option_name: SECRET_KEY
    value: change_me
    - option_name: DJANGO_ALLOWED_HOSTS
    value: *
    - option_name: SQL_ENGINE
    value: django.db.backends.postgresql
    - option_name: SQL_DATABASE
    value: oddstracker
    - option_name: SQL_USER
    value: postgres
    - option_name: SQL_PASSWORD
    value: MGKhckkAuyGjCgZB1q3p
    - option_name: SQL_HOST
    value: oddstracker.ctjllyfnwkdl.us-east-2.rds.amazonaws.com
    - option_name: SQL_PORT
    value: 5432
    - option_name: VIRTUAL_HOST
    value: www.oddstracker.app
    - option_name: VIRTUAL_PORT
    value: 8000
    - option_name: LETSENCRYPT_HOST
    value: www.oddstracker.app
    - option_name: DEFAULT_EMAIL
    value: alexanderperez@mac.com
    - option_name: ACME_CA_URI
    value: https://acme-staging-v02.api.letsencrypt.org/directory
    - option_name: NGINX_PROXY_CONTAINER
    value: nginx-proxy